// Variables are similar to a style-sheet for a project 

$primary-color: #000; // primary color used for heading text and the black key background
$secondary-color: #fff; // secondary color used for background and white text
$hover-color: blue;
$font-family: "Clicker Script", cursive; // font used for menu heading
$font-size-large: 2.875rem; // font size used for headings
$font-size-small: 0.875rem; // font size used for piano keys
$padding-small: 5px; // size of padding when only a small amount is needed
$padding-large: 1.25rem; // size of padding for the top and bottom of the nav menu
$border-radius: 5px; // radius to soften the corners of the piano keys
$border-color: #353535; // menu border
$box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3); // box shadow for piano
