// Stylesheet for color, spacing, and fonts

// Colors
$color-black: #000;
$color-white: #fff;
$color-red: #f44336;
$color-green: #7acb00;
$color-purple: #6e27c5;
$color-orange: #ff6600;
$color-blue-dark: #150F96;
$color-gray-dark: #333;

// Spacing for margins and padding
$spacing-small: 0.625rem;
$spacing-medium: 1.25rem;
$spacing-large: 2rem;

// Fonts
$font-family-base: "Helvetica Neue", Arial, Helvetica, sans-serif;
